* {
    font-family: 'Nunito Sans', sans-serif;
}

.title-text {
    font-family: 'Montserrat', calibri, sans-serif;
    margin-bottom: 30px;

    @media @x-small-down {
        margin-bottom: 15px;
    }

    &._21 {
        font-size: 21px;
        font-weight: 600;

        @media @medium-down {
            font-size: 19px;
        }

        @media @x-small-down {
            font-size: 17px;
        }
    }

    &._25 {
        font-size: 25px;
        font-weight: 600;

        @media @medium-down {
            font-size: 22px;
        }

        @media @x-small-down {
            font-size: 16px;
        }
    }

    &._27 {
        font-size: 27px;
        font-weight: 600;

        @media @medium-down {
            font-size: 23px;
        }

        @media @x-small-down {
            font-size: 17px;
        }
    }

    &._33 {
        font-size: 33px;
        font-weight: 600;

        @media @medium-down {
            font-size: 28px;
        }

        @media @x-small-down {
            font-size: 25px;
        }
    }

    &._40 {
        font-size: 40px;
        font-weight: 600;

        @media @medium-down {
            font-size: 32px;
        }

        @media @x-small-down {
            font-size: 26px;
        }
    }

    &._44 {
        font-size: 44px;
        font-weight: 600;

        @media @medium-down {
            font-size: 32px;
        }

        @media @x-small-down {
            font-size: 26px;
        }
    }

    &._50 {
        font-size: 50px;
        font-weight: bold;

        @media @medium-down {
            font-size: 36px;
        }

        @media @x-small-down {
            font-size: 30px;
        }
    }
    
    &._67 {
        font-size: 67px;
        font-weight: 600;
        line-height: 1;

        @media @medium-down {
            font-size: 49px;
        }

        @media @x-small-down {
            font-size: 37px;
        }
    }

    &._68 {
        font-size: 68px;
        font-weight: bolder;
        line-height: 1;

        @media @medium-down {
            font-size: 50px;
        }

        @media @x-small-down {
            font-size: 38px;
        }
    }

}

.body-text {
    font-family: 'Nunito Sans', sans-serif;

    &._16 {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
    }

    &._17 {
        font-size: 17px;
        font-weight: 400;
    }

    &._18 {
        font-size: 18px;
        font-weight: 500;
    }

    &._19 {
        font-size: 19px;
        font-weight: bold;
    }

    &._20 {
        font-size: 20px;
        font-weight: bold;
    }

    &._21 {
        font-size: 21px;
        font-weight: normal;
        
        @media @medium-down {
            font-size: 19px;
        }

        @media @x-small-down {
            font-size: 17px;
        }
    }

    &._26 {
        font-size: 26px;
        font-weight: bold;
    }

    &._27 {
        font-size: 27px;
        font-weight: normal;

        @media @medium-down {
            font-size: 21px;
        }
    }
}

