header {

    @header-box-shadow:rgba(50, 50, 93, 0.25) 0px -20px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 

    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 50;
    margin-top: -140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px -20px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    @media @medium-down {
        margin-top: -70px;
    }

    .navbar {
        padding: 0;
        height: 100%;
        background-color: white;
        height: 70px;

        @media @medium-up {
            height: 140px;
        }

        .nav-container {
            height: inherit;

            .navbar-brand {

                padding-left: 15px;
                display: flex;

                img {
                    width: 110px;
                    height: auto;

                    @media @medium-down {
                        width: 60px;
                    }
                }

                .header-title {
                    margin: auto auto 20px 20px;
                    line-height: 1.2;
                }
            }

            .navbar-toggler {
                border: 0;
            }

            .navbar-toggler:focus {
                box-shadow: none;
            }

            a {
                color: @dark-grey;
            }
            
        }

        #main_nav {
            justify-content: flex-end;
            background-color: white;
            height: 100%;
            flex-direction: column;
            
            @media @medium-down {
                height: unset;
                margin-top: -15px;
            }

            @media @x-small-down {
                margin-top: -1px;
            }

            .sub-nav-wrapper {
                display: flex;
                flex-direction: row;
                margin-left: auto;
                margin-top: 10px;

                .search-wrapper {
                    display: flex;
                    align-items: center;
                    padding-right: 15px;
                }

                .switcher {
                    display: flex;
                    align-items: center;
                    right: 0;

                    .selected {
                        a {
                            padding: 0 3px;
                        }
                    }

                    .option {
                        position: absolute;
                        top: 45px;

                    }
                }
            }

            .menu-nav-sub-menu-container {

                margin-left: auto;


                .header-sub-menu {
                    display: flex;
                    list-style: none;
                    height: 60px;
                    margin: 0;
                }
                .menu-item {
                    padding: 0 15px;
                    align-items: center;
                    display: flex;

                    a {
                        text-decoration: none;
                        
                    }
                }
            }


            .menu-main-nav-container, .navbar-nav {
                height: 100%;
                margin-left: auto;
                
                .menu-item {

                    @media @medium-up {
                        height: 100%;
                    }

                    width: 100%;

                    >a, >.nav-link {
                        height: inherit;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                    }

                    >.nav-link {

                        @media @medium-down {
                            padding: 15px;

                            >a {
                                padding: 15px;
                            }
                        }

                        &::after {
                            font-family: "Font Awesome 5 Free";
                            content: '\f107';
                            background-image: unset;
                            color: #575757;
                            width: fit-content;
                            height: 100%;
                            align-items: center;
                            display: flex;
                            border: 0;
                        }
                    }

                    .sub-menu {
                        border: 0;
                        border-radius: 0;
                    }
                }
                >.menu-item{
                    >.sub-menu {
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                        @media @medium-up {
                            min-height: 200px;
                        }

                        @media @medium-down  {
                            box-shadow: unset;
                        }
                    }

                }
            }
        }

        .accordion {
            display: flex;
            margin: auto;
            max-width: 1200px;

            @media @medium-down {
                flex-direction: column;
            }

            >.accordion-item {
                width: 20%;
                height: inherit; 
                display: flex;
                // align-items: center;
                border: unset;
                background-color: unset;
            }

            .accordion-item {

                @media @medium-down {
                    width: 100%;
                }

                .sub-menu {
                    list-style: none;
                }

                .accordion-button, .accordion-button:not(.collapsed) {
                    &:focus {
                        box-shadow: none;
                    }

                    &::after {
                        content: '\f078';
                        font-family: "Font Awesome 5 Pro";
                        background-image: unset;
                        color: @dark-grey;
                        width: fit-content;
                        height: 100%;
                    }
                }


                a {
                    text-decoration: none;
                    color: @dark-grey;
                }

                .accordion-button:not(.collapsed) {
                    background-color: unset;
                    box-shadow: unset;
                    width: 100%;
                }



            }
            .accordion-item:first-of-type, .accordion-item:last-of-type, .accordion-collapse {
                border: unset;
            }


        }
    }
}



/* ============ desktop view ============ */
@media @medium-up {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media @medium-up {
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}

.navbar-nav {

    @media @medium-up {
        &>.menu-item {
            padding: 0 15px;
            transition: 0.25s ease-in-out transform;

        }
    }
	
	.dropdown-menu[data-bs-popper] {
		margin-top: 0;
	}
	
}

html {
    header {
        .search-container {
            display: none;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 9999;
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: 1s linear opacity;
        
    
    
            .search-form-row {
                height: min-content;

                .field {
                    width: ~'calc(100% - 15px)';
                    margin-left: auto;
                }
            }
    
            #datafetch {
                overflow-y: auto;
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: nowrap;




                .search-post-row {

                    .search-card-title {
                        white-space: normal;
                        margin: 30px 0 15px;

                    }

                    .search-post-column {

                        display: flex;
                        margin: 15px 0;
                        
                        .search-post-wrapper {
                            border: 1px solid @primary-dark-blue;
                            padding: 15px;
                            height: 100%;
                            width: 100%;
                            text-align: left;

                            .content-wrapper {
                                max-height: 100px;
                                overflow: hidden;
                                position: relative;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                            }
                        }

                        a {
                            text-decoration: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: @primary-dark-blue;
                            justify-content: center;
                            height: 100%;
                        }
                    }
                }

            }
        }
    
        .show-search {
            display: block;
            background-color: white !important;
            opacity: 1;
            transition: 1s linear opacity;
        }
    }
    
}
