header {
    .navbar {
        padding: 0;
        height: 100%;

        @media @medium-up {
            height: 140px;
        }

        .nav-container {
            height: inherit;

            .navbar-toggler {
                border: 0;
            }

            .navbar-toggler:focus {
                box-shadow: none;
            }
        }

        #main_nav {
            justify-content: flex-end;
            height: inherit;

            .menu-main-nav-container, .navbar-nav {
                height: inherit;
                
                .menu-item {

                    @media @medium-up {
                        height: inherit;
                    }

                    width: 100%;

                    >.nav-link {
                        height: inherit;
                        display: flex;
                        align-items: center;

                        @media @medium-down {
                            padding: 15px;

                            >a {
                                padding: 15px;
                            }
                        }

                        &::after {
                            content: '\f078';
                            font-family: "Font Awesome 5 Pro";
                            background-image: unset;
                            color: #575757;
                            width: fit-content;
                            height: 100%;
                            align-items: center;
                            display: flex;
                            border: 0;
                        }
                    }

                    .sub-menu {
                        border: 0;
                        border-radius: 0;
                    }
                }
            }
        }

        .accordion {
            display: flex;
            margin: auto;
            max-width: 1200px;

            @media @medium-down {
                flex-direction: column;
            }

            >.accordion-item {
                width: 20%;
                height: inherit; 
                display: flex;
                // align-items: center;
                border: unset;
                background-color: unset;
            }

            .accordion-item {

                @media @medium-down {
                    width: 100%;
                }

                .sub-menu {
                    list-style: none;
                }

                .accordion-button, .accordion-button:not(.collapsed) {
                    &:focus {
                        box-shadow: none;
                    }

                    &::after {
                        content: '\f078';
                        font-family: "Font Awesome 5 Pro";
                        background-image: unset;
                        color: @dark-grey;
                        width: fit-content;
                        height: 100%;
                    }
                }


                a {
                    text-decoration: none;
                    color: @dark-grey;
                }

                .accordion-button:not(.collapsed) {
                    background-color: unset;
                    box-shadow: unset;
                    width: 100%;
                }



            }
            .accordion-item:first-of-type, .accordion-item:last-of-type, .accordion-collapse {
                border: unset;
            }


        }
    }
}



/* ============ desktop view ============ */
@media @medium-up {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media @medium-up {
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}

.navbar-nav {

    @media @medium-up {
        &>.menu-item {
            padding: 0 15px;
            transition: 0.25s ease-in-out transform;


            // >:after {
            //     transform: rotate(0deg);
            //     transition: 0.25s ease-in-out transform;
            // }

            // &:hover {
            //     >:after {
            //         transform: rotate(180deg);
            //     }
            // }
        }
    }
	
	.dropdown-menu[data-bs-popper] {
		margin-top: 0;
	}
	
    // @media @medium-up {
    //     .menu-item:hover {
    //         .sub-menu {
    //             display: block;
    
    //         }
    //     }
    // }

}