.site-component-container.minutes-content-container {
	padding: 15px 0 0;
}

.minutes-container {

    .minutes-title {
        color: @primary-dark-blue;
    }

    .minutes-row {
		
		.year-issued-header {
			padding: 30px 0 15px;
		}
		
		a {
			list-style-type: circle;
			text-decoration: none;
		}
		
		.minutes-column {
			margin-bottom: 15px;
		}

    }


}
