.park-form-row {
	
	
    @media @medium-down {
        justify-content: center;
    }

    .parks-filter {

        margin-bottom: 50px;
    
        @media @x-small-down {
			margin: 0 auto 20px;

        }
    
        .dropdown {
    
            @media @medium-down {
                margin-bottom: 15px;
            }
    
            .dropdown-menu {
                width: auto;
				min-width: 100%;
                border-radius: 0;
                margin: -3px 0 0 0 !important;
    
                .dropdown-item {
                    display: flex;
                    justify-content: space-between;
					min-height: 40px;
					
					font-size: 20px;
					
					a {
						color: @dark-teal;
						text-decoration: none;
					}
                    
                    &:focus {
                        background-color: unset;
                    }
    
                    &:active {
                        background-color: unset;
                        color: unset;
                    }
    
                    &:hover {
                        background-color: unset;
                    }
    
                    label {
                        width: inherit;
                        margin: 0;
                    }
    
                    input[type='checkbox'] {
                        width: 15px;
                        position: relative;
                    }
                }
            }
    
            .filter-dropdown-button {
                padding: 13px 20px;
                text-decoration: none;
                width: 100%;
                text-align: left;
                position: relative;
                border-radius: 0;
				background-color: @brand-beige;
				color: @dark-teal;
				font-size: 21px;
				
				&:after {
					display: none;
                }
        
                &:before {
					font-family: "FontAwesome";
					content: '\f107';
					position: absolute;
					right: 10px;
                }
            }
    
    
        }
        .submit-reset-column {
    
            @media @medium-down {
                display: flex;
                justify-content: space-between;
            }

        }
    }
}
