.single-parks-container {

    .single-parks-row {
        max-width: 1000px;
        padding-bottom: 30px;

        @media @medium-down {
            padding-bottom: 20px;
        }

        .single-parks-title-column {
            margin-bottom: 30px;

            @media @medium-down {
                margin-bottom: 20px;
            }

            .title-column {
                padding: 0;

                .title-text.english {
                    margin-bottom: 0;
                }
            }
        }

        .title-text {
            margin-bottom: 15px;
            color: @primary-dark-blue;

            @media @medium-down {
                margin-bottom: 10px;
            }
        }

        .title-column {

            .title-text {
                padding: 0;

                &.english {
                    color: @primary-dark-blue;
                }
    
                &.aboriginal {
                    color: @dark-grey;
                }
            }
        }

        .text-section {
            margin-bottom: 20px;

            @media @medium-down {
                margin-bottom: 15px;
            }
        }

        .single-parks-column {

            &.left {
                img {
                    width: 100%;
                }

                .b1-table-row {
                    .b1-table-column {
                        padding: 10px 0;

                        svg {
                            font-size: 32px;
                        }
                    }
                }
            }

            &.right {
                .single-page-image {
                    width: 100%;
                    margin-bottom: 30px;
                    max-height: 375px;
                    min-height: 300px;
                }

                #carouselParkIndicator {
                    margin-bottom: 30px;

                    @media @medium-down {
                        margin-bottom: 20px;
                    }
                }

                .carousel-item {
                    max-height: 500px;

                    @media @medium-down {
                        max-height: 350px;
                    }
                }

                p {
                    margin: 0;
                }
            }
        }

    }

    .pronunciation-row {
        margin: auto;
        max-width: 1200px;

        @media @medium-down {
            padding: 20px 15px;
        }
        
        .pronunciation-title-column {
            padding: 35px 30px 0;
            background-color: @brand-beige;
        }

        .pronunciation-column {
            background-color: @brand-beige;
            padding: 0 30px 50px;

            @media @medium-down {
                padding: 0 20px 50px;
            }
        }

        .aboriginal-title {
            margin-bottom: 25px;

            @media @medium-down {
                margin-bottom: 20px;
            }
        }
    }

}