@x-large-up:    ~"only screen and (min-width: 1401px)";
@x-large-down:  ~"only screen and (max-width: 1400px)";

@large-up:   ~"only screen and (min-width: 1200px)";
@large-down:   ~"only screen and (max-width: 1199px)";

@medium-up:   ~"only screen and (min-width: 992px)";
@medium-down:   ~"only screen and (max-width: 991px)";

@small-up:   ~"only screen and (min-width: 768px)";
@small-down:   ~"only screen and (max-width: 767px)";

@x-small-up:   ~"only screen and (min-width: 577px)";
@x-small-down:   ~"only screen and (max-width: 576px)";

@primary-purple: #001689;

// blue
@primary-dark-blue: #0054A5;
@primary-dark-blue-2: #011C40;

@primary-light-blue-1: #0077ea;
@primary-light-blue-2: #3099ff;
@primary-light-blue-3: #8cc7ff;
@primary-light-blue-4: #baddff;

// teal
@primary-teal-1: #007DB1;
@primary-teal-2: #26BCD7;
@dark-teal: #475859;

@primary-green: #00A94F;

// yellow
@primary-yellow-1: #FFFF00;
@primary-yellow-2: #ffff66;
@primary-yellow-3: #ffffaa;

@secondary-brown:#B58C5B;
@secondary-red: #D6143A;
@secondary-orange: #F2631C;
@secondary-teal: #2D7F8E;

@dark-grey: #575757;
@grey-1: #909087;
@grey-2: #bcbcb7;
@grey-3: #E9E9E7;
@grey-4: #b2b2b2;
@grey-5: #CECECE;
@grey-6: #747F80;

@off-white: #F8F8F5;

@brand-beige: #F2F2EF;

@muted-black: #45453E;

@stage-blue: #6b98d3;
@stage-yellow: #f2ea63;
@stage-orange: #f78c27;
@stage-red: #ef2935;