.site-component-container {
    .accordion {
        --bs-accordion-transition: unset;

        .accordion-button:not(.collapsed) {
            background-color: unset;
        }
    
        .accordion-item {
            border: 0;
        }
    
        .accordion-button {
            color: @primary-dark-blue;
            border-top: 1px solid @grey-5;
            margin: 0;
            padding: 25px 15px 25px 0;
            border-radius: 0;
    
            &:focus {
                box-shadow: unset;
                border-color: unset;
                border-top: 1px solid @grey-5;
            }
        }
    
        .accordion-collapse {
            border-top: 1px solid @grey-5;

        }
    
        .accordion-body {
            color: @dark-teal;
            padding: 30px 15px 15px 30px;
    
            ul {
                padding-left: 20px;
            }

            h1, h2, h3 {
                color: @primary-dark-blue;
                margin: 30px 0;
                font-family: 'Montserrat', calibri, sans-serif;
            }
    
            h1 {
                font-size: 50px;
                font-weight: bold;
                margin-top: 0;
                font-family: 'Montserrat', calibri, sans-serif;
        
                @media @medium-down {
                    font-size: 36px;
                }
        
                @media @x-small-down {
                    font-size: 30px;
                }
            }
    
            h2 {
                font-size: 33px;
                font-weight: 600;
        
                @media @medium-down {
                    font-size: 28px;
                }
        
                @media @x-small-down {
                    font-size: 25px;
                }
            }
    
            h3 {
                font-size: 25px;
                font-weight: 600;
        
                @media @medium-down {
                    font-size: 22px;
                }
        
                @media @x-small-down {
                    font-size: 16px;
                }
            }
    
    
            h1, h2, h3, h4 {
                margin-bottom: 30px;
            }

            thead th {
                text-align: left;
            }

            // table within accordion

            .b3-table-container .site-component-row.b3-table-row table  {
 
                thead th, tbody tr td {
                    white-space: break-spaces;
                    text-align: left;
                    vertical-align: top;
                }

            }
    
        }

        .accordion-item:last-of-type {

            .accordion-button {
                &:focus {
                    box-shadow: unset;
                    border-color: unset;
                    border-top: 1px solid @grey-5;
                }
            }

            .accordion-button.collapsed {
                border-radius: 0;
                border-bottom: 1px solid @grey-5;
                
            }
        }
    
    }
}

