.site-component-container.b1-table-container {
    padding: 0 0 30px;

    .site-component-row.b1-table-row {    

        .b1-table-column {
            max-width: 800px;
            padding: 20px 15px;
    
            @media @medium-down {
                padding: 20px 15px;
            }
    
            &:not(:last-child) {
                border-bottom: 1px solid @grey-5;
            }
    
            a {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                width: 100%;
                align-items: center;
    
            }
    
            .title-text {
                color: @primary-dark-blue;
                margin: auto 0;
            }
    
            svg {
                font-size: 40px;
                color: @primary-light-blue-2;
            }
        }
    }
}

