.featured-services-container {
    .featured-services-row {
        .featured-services-column {
            .featured-services-wrapper {
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: @off-white;

                .title-icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    svg {
                        font-size: 45px;
                    }
                }

            }
        }
    }
}