.notification-information-container {
    .notification-information-row {

        .notification-information-column {

            display: flex;
            flex-direction: column;
            
            @media @medium-down {
                padding-bottom: 30px;
            }

            .notification-information-wrapper {
                &.top {
                    display: flex;
                    background-color: @off-white;
                    padding: 35px 30px 35px;
                    justify-content: space-between;
                    align-items: end;
    
                    @media @medium-down {
                        padding: 20px 15px;
                    }

                    .title-wrapper, .icon-wrapper {
                        display: flex;
                        align-items: flex-end;
                    }

                    .icon-wrapper {
                        svg {
                            filter: ~'invert(54%) sepia(25%) saturate(5601%) hue-rotate(189deg) brightness(100%) contrast(101%)';
							
							@media @medium-down {
								font-size: 40px;
							}
                        }
                    }

    
                    h3 {
                        padding-right: 15px;
                        margin: 0;
                    }
    
                    svg {
                        height: 70px;
                        
                        @media @x-large-down {
                            height: 55px;
                        }
    
                        @media @medium-down {
                            height: 45px;
                        }
                    }
                }
    
                &.bottom {
                    background-color: @primary-dark-blue;
                    padding: 20px 30px 25px;
                    flex-grow: 1;
                    
                    @media @medium-down {
                        padding: 20px 15px;
                    }
    
                    .notification-information-content {
                        color: white;
						
						a {
							color: white;
						}
    
						p {
							font-size: 23px;
							font-weight: normal;
							line-height: 1.3;

							@media @medium-down {
								font-size: 21px;
							}

							@media @x-small-down {
								font-size: 19px;
							}
						}
					}
                }
            }
        }





    }
}