.p2-container {


    .p2-row {

        &:nth-child(odd) {
            .content-column {
                padding-left: 20px;

                @media @medium-down {
                    padding-left: 15px;
                }
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            justify-content: flex-end;

            .content-column {
                padding-right: 20px;

                @media @medium-down {
                    padding-right: 0;
                }
            }


            @media @medium-down {
                flex-direction: unset;
                justify-content: unset;
            }
        }
    }

    .p2-row-reverse {
        &:nth-child(odd) {
            flex-direction: row-reverse;
            justify-content: flex-end;

            @media @medium-down {
                flex-direction: unset;
                justify-content: unset;
            }
        }
    }

    .p2-row, .p2-row-reverse {
		
        .image-column {

            .btn {
                display: flex;
                align-items: flex-start;

                img {
                    margin-top: 35px;

                    @media @medium-down {
                        margin-top: 15px;
                        margin-bottom: 0;
                    }
                }
            }

            img {
                width: 100%;
                height: auto;

                @media @medium-down {
                    margin-bottom: 20px;
                }
            }
        }

        .content-column {

            @media @medium-down {
                margin-left: 0;

                .read-more-expand, .read-less-collapse {
                    display: none;
                }
            }

            h1, h2, h3 {
                color: @primary-dark-blue;
                margin: 30px 0;
                font-family: 'Montserrat', calibri, sans-serif;
            }
    
            h1 {
                font-size: 50px;
                font-weight: bold;
                margin-top: 0;
                font-family: 'Montserrat', calibri, sans-serif;
        
                @media @medium-down {
                    font-size: 36px;
                }
        
                @media @x-small-down {
                    font-size: 30px;
                }
            }


            @media @medium-up {
                .content-200 {
                    overflow: hidden;
                    position: relative;
                    max-height: 300px !important;
                }

                .content-overlay {
                    &.content-gradient-on {
                        z-index: 2;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        position: absolute;
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0), rgba(255,255,255, 1));
                    }

                    &.content-gradient-off {
                        z-index: 0;
                        background-image: unset;

                    }
                }

                .read-less-collapse {
                    display: none;
                }

                .read-more-expand, .read-less-collapse {
                    color: @primary-light-blue-1;
                    cursor: pointer;
                }

                .content-max {
                    overflow: hidden;
                    position: relative;
                }


            }
        }
    }

}