.p2-container {
    .p2-row {

        padding-bottom: 50px;

        &:nth-child(even) {
            flex-direction: row-reverse;
            justify-content: flex-end;

            @media @medium-down {
                flex-direction: unset;
                justify-content: unset;
            }
        }

        .image-column {
            img {
                width: 100%;
                height: auto;

                @media @medium-down {
                    margin-bottom: 20px;
                }
            }
        }

        .content-column {
            margin-left: 20px;

            @media @medium-down {
                margin-left: 0;
            }


            li {
                font-size: 21px;

                @media @medium-down {
                    font-size: 19px;
                }
        
                @media @x-small-down {
                    font-size: 17px;
                }
            }
        }
    }
}